chromedriver
chromedriver.exe
geckodriver.log
ghostdriver.log
.DS_Store
.ipynb_checkpoints/
.venv/
__pycache__/
*.pyc
.env
.env.*
rent_invoices.csv
visitors_202001.csv
fitness_conversion_sample_data.csv
**/.env
!.env.example
!**/.env.example
rough_drafts/
**/rough_drafts/
bin/
data/prices/
*.egg-info/
.pytest_cache/
third_party/abides/log/
third_party/abides/**/__pycache__/
third_party/abides/data/trades/
